/* Helvetica Neue - Regular */
@font-face {
  font-family: 'Helvetica Neue';
  src: url('/fonts/HelveticaNeue-Regular.woff2') format('woff2'),
       url('/fonts/HelveticaNeue-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Helvetica Neue - Medium */
@font-face {
  font-family: 'Helvetica Neue';
  src: url('/fonts/HelveticaNeue-Medium.woff2') format('woff2'),
       url('/fonts/HelveticaNeue-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* Helvetica Neue - Bold */
@font-face {
  font-family: 'Helvetica Neue';
  src: url('/fonts/HelveticaNeue-Bold.woff2') format('woff2'),
       url('/fonts/HelveticaNeue-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Helvetica Neue - Italic */
@font-face {
  font-family: 'Helvetica Neue';
  src: url('/fonts/HelveticaNeue-Italic.woff2') format('woff2'),
       url('/fonts/HelveticaNeue-Italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* Helvetica Neue - Bold Italic */
@font-face {
  font-family: 'Helvetica Neue';
  src: url('/fonts/HelveticaNeue-BoldItalic.woff2') format('woff2'),
       url('/fonts/HelveticaNeue-BoldItalic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

/* Singing Sans */
@font-face {
  font-family: 'Singing Sans';
  src: url('/fonts/SingingSans.woff2') format('woff2'),
       url('/fonts/SingingSans.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
